<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="chat" id="<%= chat._id %>">
      <div class="chatInfo" id="<%= chat._id %>">
        <div class="createdAt" id="<%= chat._id %>">
          date & time: <%= chat.createdAt.toLocaleString() %>
        </div>
        <div class="userInfo" id="<%= chat._id %>">
          <div class="from" id="<%= chat._id %>">from @<%= chat.from %></div>
          <div class="to" id="<%= chat._id %>">to @<%= chat.to %></div>
        </div>
        <input class="msg" id="<%= chat._id %>" value="<%= chat.msg %>" />
        <div class="chatOptions" id="<%= chat._id %>">
          <div class="delete" id="<%= chat._id %>">delete</div>
          <div class="save" id="<%= chat._id %>">save</div>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.9.0/axios.min.js"
      integrity="sha512-FPlUpimug7gt7Hn7swE8N2pHw/+oQMq/+R/hH/2hZ43VOQ+Kjh25rQzuLyPz7aUWKlRpI7wXbY6+U3oFPGjPOA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/details.js"></script>
  </body>
</html>
